body {
    font-family: 'Now', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.form-styled {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(100% - 40px); /* 讓表單內邊距有20px的距離 */
    max-width: 400px;
    box-sizing: border-box; /* 確保padding不影響寬度計算 */
}

.form-styled label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

.form-styled input, 
.form-styled select {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.form-styled input:focus, 
.form-styled select:focus {
    outline: none;
    border-color: #333;
    background-color: #fff;
}

.styled-date {
    position: relative;
    color: #333;
}

.btn-submit {
    width: 100%;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-submit:hover {
    background-color: #45A049;
    transform: translateY(-2px);
}

.btn-submit:active {
    transform: translateY(0);
}
